<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/navbar_style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/mostrar_reserva.css">

    <title>Envio Reserva</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-dark " style="background-color: rgb(22,22,22);">
        <div class="container-fluid">
            <img src="img/logo_banner.png" class="logo">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="topbar" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/servicio/reserva"> <b>Regresar</b> </a></li>
            </div>
        </div>
    </nav>

    <!--<div class="mostrarReserva">
        <ul>
            <li>Nombre: <%= nombre %></li>
            <li>Correo: <%= correo %></li>
            <li>Telefono: <%= telefono %></li>
            <li>Número de personas para esta reserva: <%= numeroPersonas %></li>
            <li>Servicio: <%= servicio %></li>
            <li>Fecha: <%= fecha %></li>
            <li>Hora: <%= hora %></li>
        </ul>

        <p>Indicaciones especiales: <%= indicacionesEspeciales %></p>
    </div>-->

    <div class="contenedor-reserva">
        <h2>Informacion de la reserva</h2>

        <div class="mostrarReserva">
            
            <li>Nombre: <%= nombre %></li>
            <li>Email: <%= correo %></li>
            <li>Telefono: <%= telefono %></li>            
            <li>Número de personas para la reserva: <%= numeroPersonas %></li>
            <li>Servicio: <%= servicio %></li>
            <li>Fecha: <%= fecha %></li>
            <li>Hora: <%= hora %></li>
            
            <p>Indicaciones especiales: <%= indicacionesEspeciales %></p>
        </div>
    </div>    
    
    <a class="btn-volver" href="/servicio/reserva">Regresar</a>


    <footer>
        <div class="contenido-footer">

          <img src="img/logo_banner.png" class="logo">              

          <div class="mapa-sitio">
              <a class="titulo-mapa text-decoration-none" href="mapa.html"> <h2>Mapa del sitio</h2> </a>
              <div class="lista-mapa-sitio">
                  <a href="index.html">inicio</a>
                  <a href="nosotros.html">nosotros</a>
                  <a href="menu.html">menú</a>
                  <a href="#">servicios</a>
                  <a href="contacto.html">contactenos</a>
              </div>                
          </div>

          <div class="servicios-footer">
              <h2>servicios especiales</h2>
              <div class="lista-servicios">
                  <li>fiestas tematicas</li>
                  <li>cumpleaños</li>
                  <li>cartoon party</li>
              </div>                
          </div>
        </div>        
    </footer>

    <script src="js/mensajeReserva.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>